.movie-list {
    list-style: none;
    padding: 0;
}

.movie-list li {
    margin: 0.5em 0;
}

.movie-list li a {
    color: #333;
    text-decoration: none;
}

.movie-list li a:hover {
    color: #a73efc;
}